= form_for @settlor, url: entities_trust_settlor_path(@entity.key, @settlor.id), html: {class: "entity-page-xhr"} do |f|
  = hidden_field_tag :int_action, 'Add Settlor'
  - if @settlor.errors.any?
    #error_explanation
      h2 = "#{pluralize(@settlor.errors.count, "error")} prohibited this Settlor from being saved:"
      ul
        - @settlor.errors.full_messages.each do |message|
          li = message
  .col-lg-4.close-md-4.col-sm-12.col-xs-12
    - prepopulated_settlors = options_html('settlor', "true", @settlor.super_entity, f.object.temp_id, 'array')
    - if prepopulated_settlors.length == 0
      p.text-info = ("You have #{prepopulated_settlors.length} individual #{prepopulated_settlors.length != 1 ? 'clients or contacts' : 'client or contact'} who could be the Settlor of this Trust. Please create a new individual <span class='ipp-modal' data-id='add-client'><b>Client</b></span> or a new Trust Settlor <span class='ipp-modal' data-id='add-contact'><b>Contact</b></span>.").html_safe
    - elsif prepopulated_settlors.length == 1
      p.text-info = ("You have #{prepopulated_settlors.length} individual #{prepopulated_settlors.length != 1 ? 'clients or contacts' : 'client or contact'} who could be the Settlor of this Trust. However, you could also create a new <span class='ipp-modal' data-id='add-client'><b>Client</b></span> or a new Trust Settlor <span class='ipp-modal' data-id='add-contact'><b>Contact</b></span> if you so desire.").html_safe
    - else
      p.text-info = ("You have #{prepopulated_settlors.length} individual #{prepopulated_settlors.length != 1 ? 'clients or contacts' : 'client or contact'} who could be the Settlor of this Trust. However, you could also create a new <span class='ipp-modal' data-id='add-client'><b>Client</b></span> or a new Trust Settlor <span class='ipp-modal' data-id='add-contact'><b>Contact</b></span> if you so desire.").html_safe

      .form-group#settlor_entity
        = hidden_field_tag :is_person, true
        = f.select :temp_id, options_html('settlor', "true", @settlor.super_entity, f.object.temp_id), {}, class: "form-control #{'disabled-like' if prepopulated_settlors.length == 1}", data: {id: @settlor.super_entity.id, clienttype: 'settlor'}, readonly: (prepopulated_settlors.length == 1)

        = hidden_field_tag "settlor[member_type_id]", MemberType.getTrustId
        = hidden_field_tag :cid, @settlor.temp_id
      .form-group
        = f.submit 'Save', class: "btn btn-primary"