<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to DVNO-messenger,
    </p>
    <p>
      Your user account with Dvno-messenger has been registered with the <br>
      following details:<br>
      id: <%= @user.email %>
    </p>
    <p>
      Your account is currently being reviewed by our administration for approval   
    </p>
    <p>
      Very Best Regards,<br>
      DVNO administrator
    </p>
  </body>
</html>