// Place all the styles related to the entities/limited_partnership controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bread_crumb_limited_partnership {
    background: #fff;
    color: #5A738E;
    position: absolute;
    top: 98px;
    left: 20px;
    padding-left: 40px;
    font-size: 16px;

    a {
      
    }
}