- if @transaction.is_a?(TransactionSale)
  == render partial: 'transactions/sale_wizard/sale_inspection'
- elsif @transaction.is_a?(TransactionPurchase)
  == render partial: 'transactions/purchase_wizard/purchase_inspection'